<div class="main container">
  <div class="row">
    <div class="col">
      Start: {{ event.startDate | date: 'dd-MM-yyyy, hh:mm a' }}
      <br> End: {{ event.endDate | date: 'dd-MM-yyyy, hh:mm a' }}
      <br>
      <h4> {{ event.title }}
        <br>
      </h4>
      organized by {{ event.hostName }}
    </div>
    <div class="col">
    </div>
    <div class="col">
      <app-join [joinnable]="joinnable" [id]="id"></app-join>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col">
      {{ event.description }}
      <hr>
      <app-participants-list [eventId]="event.id"></app-participants-list>
    </div>
    <div class="col">
    </div>
  </div>
</div>
