<div class="row">
  <div class="col">
    <ng-template ngFor let-element [ngForOf]="events" let-i="index">
      <app-event [event]="element"></app-event>
      <a (click)="onEdit(element.id)" class="btn btn-outline-info"style="color:white; border:2px solid white; font-weight:bold;">
          <span class="glyphicon glyphicon-edit"></span> Edit
        </a>
        <a (click)="onDelete(element.id, i)" class="btn btn-outline-danger" style="color:white; border:2px solid white; font-weight: bold;">
          <span class="glyphicon glyphicon-remove"></span> Delete
        </a>
        <hr>
    </ng-template>
  </div>
</div>
