<a routerLink="/event/{{ event.id }}" class="list-group-item clearfix">
  <div class="float-left">
    <h4 class="list-group-item-heading">
      <small>{{ event.startDate | date: 'dd-mm-yyyy, hh:mm a' }} </small>
      {{ event.title }}
      <small>organized by {{ event.hostName }}</small>
    </h4>
    <p class="list-group-item-text"> Category: {{ event.category }}, Address: {{ event.address }}</p>
    <p class="list-group-item-text">{{event.participants}} Members going!</p>
  </div>
</a>
<p></p>
