<a routerLink="/event/{{ event.id }}" class="list-group-item clearfix">
  <div class="float-left">
    <h4 class="list-group-item-heading">
      <p>
        <i class="far fa-comment-alt" style="font-size: 30px;"></i>
        {{ event.title }}
      </p>
      <p>
        <i class="far fa-calendar" style="font-size: 30px;"></i>
        {{ event.startDate | date: 'dd-MM-yyyy, HH:mm' }}</p>
    </h4>
    <h5>
      <p>
        <i class="fas fa-user" style="font-size: 30px;"></i>
        organized by {{ event.hostName }}
      </p>
      <p class="list-group-item-text">
        <i class="fas fa-dice" style="font-size: 30px;"></i>
        Category: {{ event.category }}, Address: {{ event.address }}</p>
      <p class="list-group-item-text">
        <i class="fas fa-check-square" style="font-size: 30px;"></i>
        {{event.participants}} Members going!
      </p>
    </h5>
  </div>
</a>
<p></p>
