/* You can add global styles to this file, and also import other style files */
.main {
  padding: 2em;
  background: rgba(0, 48, 56, 0.95);
  border:solid white 4px;
  transition: 1s;
}

.main:hover {
  background: rgba(32, 32, 32, 0.99);
  transition: 1s;
}

body {
  background-image: url('app\shared\photos\21.jpg');
  background-attachment: fixed;
}

a.list-group-item.clearfix:nth-of-type(2n) {
  background-color:yellowgreen !important;
}

 a.list-group-item.clearfix:nth-of-type(3n) {
  background-color:blue !important;
}
